@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: #f7f7ff;
    display: grid;
    grid-auto-flow: row;
    /*     grid-auto-rows: 25px; */
    grid-auto-rows: 75px;
    grid-template-columns: repeat(auto-fill, 75px);
    justify-content: center;
}

div {
    --scaley: 2;
    --scalex: 2;
    /*   font-size: 50px; */
    /*   transform:rotateY(7deg); */
    /*   transform:scaleX(var(--scalex)); 
  transform:scaleY(var(--scaley)); */
}

div {
    --deg: 40deg;
    --colorbg: #FA4659;
    --colortx: #FA4659;
    --fsize: 75px;
    font-size: var(--fsize);
    background: linear-gradient( var(--deg), transparent 50%, var(--colorbg) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: var(--colortx);
    -webkit-text-stroke-width: 2px;
    color: transparent;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.364); */
    display: grid;
    justify-content: center;
    align-items: center;
}

section {
    background-color: rgb(85, 125, 218);
    border-radius: 5px;
    padding: 20px 30px;
}

.wrapper {
    background-color: rgb(255, 255, 255);
    --colorbg: rgb(66, 62, 62);
    --colortx: rgba(30, 27, 27, 0);
    /* font-size: 20px; */
    --fsize: 50px;
    font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 600px) {
    .wrapper {
        --fsize: 30px;
    }
}